.name {
    padding: 15px;
    background-color: forestgreen;   
}

main {
    margin: 0 20 0 20;
}

.border{
    border: 2px solid blue;
    background-image: url("../images/creampaper.png");
}
hr {
    color: black;
}

body {
    background-image: url("../images/more-leaves.png");
}