nav {
    background-color: rgb(197, 240, 197);
}
.name {
    padding: 15px;
    background-color: rgb(241, 241, 215);   
}


.contBackground{
    background-image: url("../images/creampaper.png");
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/more-leaves.png");
}

.green{
    z-index: 2;
    background-color: rgb(197, 240, 197);
}