nav {
    background-color: rgb(197, 240, 197);
}
.name {
    padding: 15px;
    background-color: rgb(241, 241, 215);   
}


main {
    margin: 0 20 0 20;
}

.border{
    border: 10px solid darkblue;
    background-image: url("../images/creampaper.png");
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/more-leaves.png");
}


html{
    height: 100%;
}

section .green{
    background-color: rgb(197, 240, 197);
}